In [1]:
squares = [1, 5, 9, 16]

In [2]:
x = 7.01
type(x)

float

In [3]:
x = [ 2, 'lynskey']
type(x)
type(x[0])

int

### lists

In [4]:
squares = [1, 5, 9, 16]
squares

[1, 5, 9, 16]

In [5]:
squares[0:2]

[1, 5]

In [6]:
squares[1] =4 
squares

[1, 4, 9, 16]

In [7]:
x = [1,2,3]
y=[4,5]
A=[x,y]
A

[[1, 2, 3], [4, 5]]

In [8]:
A[1][0]

4

## Sets

In [9]:
basket ={'bananas', 'peaches', 'eggs', 'cereal', 'cereal', 'peaches'}
basket

{'bananas', 'cereal', 'eggs', 'peaches'}

In [10]:
'oranges' in basket

False

## dict

In [11]:
cars = {'Prius':'Toyota', 'Model 3':'Tesla', 'Testarossa':'Ferrari', 'Civic':'Honda'}
cars

{'Civic': 'Honda',
 'Model 3': 'Tesla',
 'Prius': 'Toyota',
 'Testarossa': 'Ferrari'}

In [12]:
cars['Prius']

'Toyota'

In [13]:
cars['Volt']='Chevy'
cars

{'Civic': 'Honda',
 'Model 3': 'Tesla',
 'Prius': 'Toyota',
 'Testarossa': 'Ferrari',
 'Volt': 'Chevy'}

In [14]:
cars[1]

KeyError: 1

That didn't work because the set organizes the order of entries more or less alphabetically, not in the order you enter them -- because it does not always preserve order of entries, there's no way for a user to define index values, so calling by an index is not allowed.

## Numpy

In [15]:
import numpy as np

In [16]:
a = np.array([[1,2,3], [4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [17]:
a[1,2]

6

In [18]:
a[1,1]= 'g'

ValueError: invalid literal for int() with base 10: 'g'

In [19]:
a = np.array([[1,2,3], [4,'g',6]])
a

array([['1', '2', '3'],
       ['4', 'g', '6']], dtype='<U21')

In [20]:
a = np.array([[1,2,3], [4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
b = a[0:,0:]
b

array([[1, 2, 3],
       [4, 5, 6]])

## Pandas

In [22]:
import pandas as pd

In [23]:
bought_dict = {'basket':['bananas', 'peaches', 'eggs', 'cereal'],
         'color':['yellow', 'pink', 'white', 'brown'],
         'weight':[100, 250, 54, 500]}
bought_dict

{'basket': ['bananas', 'peaches', 'eggs', 'cereal'],
 'color': ['yellow', 'pink', 'white', 'brown'],
 'weight': [100, 250, 54, 500]}

In [24]:
bought_df = pd.DataFrame(data = {'basket':['bananas', 'peaches', 'eggs', 'cereal'],
         'color':['yellow', 'pink', 'white', 'brown'],
         'weight':[100, 250, 54, 500]})
bought_df

    basket   color  weight
0  bananas  yellow     100
1  peaches    pink     250
2     eggs   white      54
3   cereal   brown     500

In [25]:
type(bought_dict)

dict

In [26]:
type(bought_df)

pandas.core.frame.DataFrame

In [27]:
bought_df['basket']

0    bananas
1    peaches
2       eggs
3     cereal
Name: basket, dtype: object

In [28]:
bought_df.basket

0    bananas
1    peaches
2       eggs
3     cereal
Name: basket, dtype: object

In [32]:
bought_df.index

RangeIndex(start=0, stop=4, step=1)

In lecture I got confused about why I couldn't get the actual index labels out using the syntax above.

The reason was because I'd not defined a "custom" index.  

Let's try now:

In [36]:
bought_df.index = ['first', 'second', 'third', 'fourth']

In [37]:
bought_df.index

Index(['first', 'second', 'third', 'fourth'], dtype='object')

In [87]:
!ls

3 Pandas.pptx
CAISO_2017to2018.csv
CAISO_2017to2018_stack.csv
CAISO_data_pull_for_Lecture_3.ipynb
CAISOdata
Duncan's Lecture 3 in class workbook.ipynb
Lecture 3 Notebook.ipynb
Lecture 3 Notebook.pdf
My Lecture 3 in class workbook.ipynb
dataframe_anatomy.png
notebook.tex
~$3 Pandas.pptx

In [88]:
import os
os.listdir()

['CAISOdata',
 '.DS_Store',
 'dataframe_anatomy.png',
 'Lecture 3 Notebook.pdf',
 'CAISO_2017to2018_stack.csv',
 '~$3 Pandas.pptx',
 'My Lecture 3 in class workbook.ipynb',
 'CAISO_data_pull_for_Lecture_3.ipynb',
 'Lecture 3 Notebook.ipynb',
 '3 Pandas.pptx',
 '.ipynb_checkpoints',
 "Duncan's Lecture 3 in class workbook.ipynb",
 'notebook.tex',
 'CAISO_2017to2018.csv']

In [89]:
caiso_data = pd.read_csv('CAISO_2017to2018.csv')

In [90]:
type(caiso_data)

pandas.core.frame.DataFrame

In [91]:
caiso_data.head()

,Unnamed: 0,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
0,2017-08-29 00:00:00,1181,340,156,324,1551,0,0
1,2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2,2017-08-29 02:00:00,1183,337,156,337,1325,0,0
3,2017-08-29 03:00:00,1185,339,156,313,1158,0,0
4,2017-08-29 04:00:00,1190,344,156,320,1209,0,0

In [92]:
caiso_data = pd.read_csv('CAISO_2017to2018.csv', index_col=0)
caiso_data.head()

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2017-08-29 00:00:00,1181,340,156,324,1551,0,0
2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2017-08-29 02:00:00,1183,337,156,337,1325,0,0
2017-08-29 03:00:00,1185,339,156,313,1158,0,0
2017-08-29 04:00:00,1190,344,156,320,1209,0,0

In [93]:
caiso_data_stack = pd.read_csv('CAISO_2017to2018_stack.csv', index_col= 0)
caiso_data_stack.head()

                          Source   MWh
2017-08-29 00:00:00   GEOTHERMAL  1181
2017-08-29 00:00:00      BIOMASS   340
2017-08-29 00:00:00       BIOGAS   156
2017-08-29 00:00:00  SMALL HYDRO   324
2017-08-29 00:00:00   WIND TOTAL  1551

In [96]:
caiso_data['WIND TOTAL'].head()

2017-08-29 00:00:00    1551
2017-08-29 01:00:00    1556
2017-08-29 02:00:00    1325
2017-08-29 03:00:00    1158
2017-08-29 04:00:00    1209
Name: WIND TOTAL, dtype: int64

In [97]:
caiso_data['WIND TOTAL'][1]

1556

In [98]:
caiso_data.iloc[1,4]

1556

In [101]:
caiso_data.iloc[-1:-10:-1,4:6]

                     WIND TOTAL  SOLAR PV
2018-08-28 23:00:00        2921         0
2018-08-28 22:00:00        3068         0
2018-08-28 21:00:00        3310         0
2018-08-28 20:00:00        3468         0
2018-08-28 19:00:00        3300        70
2018-08-28 18:00:00        3270      1992
2018-08-28 17:00:00        3447      5490
2018-08-28 16:00:00        3148      7376
2018-08-28 15:00:00        2915      8680

In [102]:
caiso_data.loc['2018-08-28 23:00:00','WIND TOTAL']

2921

In [104]:
caiso_data.loc['2018-08-28 20:00:00':'2018-08-28 23:00:00','WIND TOTAL':'SOLAR THERMAL']

                     WIND TOTAL  SOLAR PV  SOLAR THERMAL
2018-08-28 20:00:00        3468         0             17
2018-08-28 21:00:00        3310         0             17
2018-08-28 22:00:00        3068         0              0
2018-08-28 23:00:00        2921         0              0

In [109]:
caiso_data_stack.loc['2018-08-28 20:00:00':'2018-08-28 23:00:00','source':'MWh']

                            Source   MWh
2018-08-28 20:00:00     GEOTHERMAL   967
2018-08-28 20:00:00        BIOMASS   336
2018-08-28 20:00:00         BIOGAS   234
2018-08-28 20:00:00    SMALL HYDRO   547
2018-08-28 20:00:00     WIND TOTAL  3468
2018-08-28 20:00:00       SOLAR PV     0
2018-08-28 20:00:00  SOLAR THERMAL    17
2018-08-28 21:00:00     GEOTHERMAL   972
2018-08-28 21:00:00        BIOMASS   336
2018-08-28 21:00:00         BIOGAS   233
2018-08-28 21:00:00    SMALL HYDRO   502
2018-08-28 21:00:00     WIND TOTAL  3310
2018-08-28 21:00:00       SOLAR PV     0
2018-08-28 21:00:00  SOLAR THERMAL    17
2018-08-28 22:00:00     GEOTHERMAL   975
2018-08-28 22:00:00        BIOMASS   333
2018-08-28 22:00:00         BIOGAS   234
2018-08-28 22:00:00    SMALL HYDRO   361
2018-08-28 22:00:00     WIND TOTAL  3068
2018-08-28 22:00:00       SOLAR PV     0
2018-08-28 22:00:00  SOLAR THERMAL     0
2018-08-28 23:00:00     GEOTHERMAL   977
2018-08-28 23:00:00        BIOMASS   333
2018-08-28 23:00:00         BIOGAS   235
2018-08-28 23:00:00    SMALL HYDRO   262
2018-08-28 23:00:00     WIND TOTAL  2921
2018-08-28 23:00:00       SOLAR PV     0
2018-08-28 23:00:00  SOLAR THERMAL     0