# Lecture 3 Notebook
Duncan Callaway
August 30 2018

This lecture is a review of variable types and an introduction to the pandas library within python.

My objective is to review enough of the basics to give people a clear sense of what a pandas data frame is and what it can contain.

## Pandas references

(taken from DS100) 

Introductory:

* [Getting started with Python for research](https://github.com/TiesdeKok/LearnPythonforResearch), a gentle introduction to Python in data-intensive research.

* [A Whirlwind Tour of Python](https://jakevdp.github.io/WhirlwindTourOfPython/index.html), by Jake VanderPlas, another quick Python intro (with notebooks).

Core Pandas/Data Science books:

* [The Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), by Jake VanderPlas.

* [Python for Data Analysis, 2nd Edition](http://proquest.safaribooksonline.com/book/programming/python/9781491957653), by  Wes McKinney, creator of Pandas. [Companion Notebooks](https://github.com/wesm/pydata-book)

* [Effective Pandas](https://github.com/TomAugspurger/effective-pandas), a book by Tom Augspurger, core Pandas developer.


Complementary resources:

* [An introduction to "Data Science"](https://github.com/stefanv/ds_intro), a collection of Notebooks by BIDS' [StÃ©fan Van der Walt](https://bids.berkeley.edu/people/st%C3%A9fan-van-der-walt).

* [Effective Computation in Physics](http://proquest.safaribooksonline.com/book/physics/9781491901564), by Kathryn D. Huff; Anthony Scopatz. [Notebooks to accompany the book](https://github.com/physics-codes/seminar). Don't be fooled by the title, it's a great book on modern computational practices with very little that's physics-specific.

## Recap last lecture

## A few more shortcuts
`esc` --> command mode for cell

`enter` --> edit mode for cell

`shift-enter` --> run cell and select next cell

`ctrl-enter` --> run cell and keep it selected

in command mode, `a` creates a new cell above

in command mode, `b` creates a new cell below

in command mode, `dd` deletes cell

in command mode, `m` turns cell into markdown

in command mode, `y` turns cell to code

in command mode, `h` shows keyboard shortcuts

`shift-tab` gives information on a function or method

`tab` gives options to add a method or function to an object.

## Object, method, alias, function?

These classes will come up repeatedly in the class.  

Q: What are they? <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

Go [here for more](https://www.geeksforgeeks.org/difference-method-function-python/)

1. Object: virtually anything with attributes in python.  
    a. Objects usually belong to classes and have attributes
    b. For example an object might belong to a bike class.  The attributes of the class would be material, wheel size, number of gears, etc.
2. Method: A function associated with an object. 
    a. for example `object.method` applies the method to the object. 
3. Function: performs an action using some set of input parameters.
    b. for example `function(object)` applies the function to the object.

## Basic data, or variable, types

Q: what are some variable types native to Python? <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

1. `string`
2. `numbers`
    1. `int`
    3. `float`
4. `bool`

An interesting note about strings: though we can index their contents, they are *immutable*, meaning you can change individual elements.  Instead you need to do a wholesale reassignment.

## Data structures or "containers"

Q: what are some data structures native to Python? <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

1. `dict`
2. `list`
3. `tuple`
4. `set`

Let's explore these a little further.

### Lists

In [1]:
squares = [1, 5, 9, 16, 25] # do this in lecture
squares

[1, 5, 9, 16, 25]

We can index elements with the usual process:

In [2]:
print(squares[0]) # do this in lecture; zero is the first element
print(squares[-1]) # do this in lecture; -1 gives the last
print(squares[2:]) # do this in lecture; you can slice...

1
25
[9, 16, 25]

Lists are mutable:

In [3]:
squares[1] = 4
squares

[1, 4, 9, 16, 25]

That's better! 

We can also append:

In [4]:
squares.append(6**2)
squares

[1, 4, 9, 16, 25, 36]

Finally, we can nest lists

In [5]:
x = [1,2,3]
y = [4,6]

In [6]:
A = [x,y]
A

[[1, 2, 3], [4, 6]]

Note that the number of elements in the two lists within the list did not need to be equal.  

Note also that we can also assign different variable types to the nested list:

In [7]:
a = ['abc', 'def']

In [8]:
A = [x,a]
A

[[1, 2, 3], ['abc', 'def']]

Careful though, it's tough to index these things:

In [9]:
A[1,1]

TypeError: list indices must be integers or slices, not tuple

That didn't work!  (We have to wait for numpy and pandas to be able to do that.)

In [10]:
A[1][1]

'def'

### Sets

Whereas lists are defined with square brackets, sets use curlies:

In [11]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

What happened there? 

...I wrote orange and apple twice.  Let's look at the set:

In [12]:
print(basket)

{'pear', 'orange', 'banana', 'apple'}

Pretty smart -- no duplicates!

Now we can query the set for membership:

In [13]:
'orange' in basket

True

In [14]:
'kiwi' in basket

False

### Dict

Now let's talk about dicts.  We are inching closer to the kind of structure we have in a pandas data frame.

Dicts associate one value with another.

In [74]:
cars = {'Prius':'Toyota', 'Volt':'Chevy', 'Model 3': 'Tesla'}
cars

{'Model 3': 'Tesla', 'Prius': 'Toyota', 'Volt': 'Chevy'}

In [73]:
cars['Prius']

['Toyota', 'Subaru']

In this case 
1. 'Prius' is the **key** of the dict.
2. 'Toyota' is the associated **value**.

We can add new entries very easily:

In [17]:
cars['Leaf'] = 'Nissan'

In [18]:
cars

{'Leaf': 'Nissan', 'Model 3': 'Tesla', 'Prius': 'Toyota', 'Volt': 'Chevy'}

## Numpy

Before moving into pandas, let's do a quick review of numpy.  A numpy array is a grid of elements *of the same data type*.  (Pandas is like numpy but handles different data types.)  The beauty of numpy, like matlab, is that you don't need to specify what sort of data type you're working with -- it will guess for you.

In [19]:
import numpy as np
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

That's a numpy array.  It looks like a nested list, right?

A big difference, though, is that we can index numpy arrays more cleanly:

In [20]:
a[1,3]

8

We can do cool stuff with slicing in the numpy arrays:

In [21]:
b = a[:2, 1:3]
b

array([[2, 3],
       [6, 7]])

Perhaps you remember that the indexing is not *inclusive* meaning it does not include data associated with the end index.

In [22]:
c = a[-1:0:-1, 1:3]
c

array([[10, 11],
       [ 6,  7]])

If we want to get all the way to the top row of the array, just drop the second entry in the first slice:

In [23]:
c = a[-1::-1, 1:3]
c

array([[10, 11],
       [ 6,  7],
       [ 2,  3]])

## Pandas!

Ok, finally we're here.  

In Data8 you used the `tables` library to organize and manipulate data.  I've not used tables but it has been described to me as a 'light' version of pandas.  So this will be somewhat familiar to you.

Pandas has several features that make it immediately better than numpy for organizing data.
1. You can have different data types (string, int, float) in each column
2. You can label columns (headers)
3. You can label rows (index)

We call the data structure that holds all these things together a **data frame**

At its core, the data frame structure is what draws us to use pandas.  But it also has a bunch of great built-in functions you can use to manipulate data once it is loaded in.

In [24]:
import pandas as pd

I'm going to define a simple data frame in a way that you can see the connections to existing Python data types and structures:

In [75]:
fruit_info = pd.DataFrame(
    data={'fruit': ['apple', 'orange', 'banana', 'raspberry'],
          'color': ['red', 'orange', 'yellow', 'pink'],
          'weight': [120,250,180,15]
          })
fruit_info

    color      fruit  weight
0     red      apple     120
1  orange     orange     250
2  yellow     banana     180
3    pink  raspberry      15

In [34]:
type(fruit_info)

pandas.core.frame.DataFrame

Some notes:
1. You can see that we put the data inside curly brackets much like we do in a dict.  
    1. We defined it as if fruit, color and weight are keys.
    1. In fact, we'll be calling these column names.
2. The pandas data structure is called the data frame.  
2. We can call the values associated with each column name (like the dict key) in much the same way that we did with the dict:

In [76]:
fruit_info['color']

0       red
1    orange
2    yellow
3      pink
Name: color, dtype: object

...but as you can see, now we're getting a range of values rather than just one associated value.  

We could do the same basic thing in a dict -- assign a list to a key.

But notice above we don't just have a list of colors.  Instead we have something called a **series**.   This is a pandas object that is analogous to a numpy series.

In [79]:
type(fruit_info['color'])

pandas.core.series.Series

The series differs from the list in at least one important way: It has numbers directly associated with it that we call the index.  (The left column of the Series.)

We can also call columns from the data frame as follows:

In [112]:
fruit_info.color

0       red
1    orange
2    yellow
3      pink
Name: color, dtype: object

But as we'll see soon, there are alternative ways to get access to the elements of the data frame (`.loc` and `.iloc`) that enable us to work with the frame more as we would a numpy array.

Let me show a quick example of the problems we run into if we *don't* use `.loc` or `.iloc`.

We *can* slice the frame as you might think:

In [119]:
fruit_info[0:1]

  color  fruit  weight
0   red  apple     120

But we *can't* slice on columns and rows:

In [121]:
fruit_info[0:1,0:1]

TypeError: unhashable type: 'slice'

Nor can we index individual entries:

In [122]:
fruit_info[1,1]

KeyError: (1, 1)

If we want individual entries instead we have to first call the column, then the row:

In [127]:
fruit_info['color'][1]

'orange'

...But that's a little annoying, since the numpy (and most other) conventions is to first reference the row, then the column.  

Also, there is no way to slice on columns:

In [128]:
fruit_info['color':'weight']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [color] of <class 'str'>

### Anatomy of the data frame.

Let's talk a little about the anatomy of the data frame.

<img src="dataframe_anatomy.png" width="800px" align="left" float="left"/>

We have the following important attributes:
1. Rows
2. Columns
2. Index
3. Column names

The "index" can be numeric, but as we'll see we can also make the indices strings.

### Pandas and the CAISO data.

Let's see what's in the current directory.  In macos, I type:

In [82]:
!ls

CAISO_2017to2018.csv                CAISOdata
CAISO_2017to2018_stack.csv          Lecture 3 Notebook.ipynb
CAISO_data_pull_for_Lecture_3.ipynb dataframe_anatomy.png

But if someone picked up my ipynb and ran it on windows, they'd get an error.  

Instead we can use the `os` library:

In [83]:
import os
os.listdir()

['CAISOdata',
 '.DS_Store',
 'dataframe_anatomy.png',
 'CAISO_2017to2018_stack.csv',
 'CAISO_data_pull_for_Lecture_3.ipynb',
 'Lecture 3 Notebook.ipynb',
 '.ipynb_checkpoints',
 'CAISO_2017to2018.csv']

I've already downloaded a file, "CAISO_2017_to_2018.csv", that has one year of renewables production data from CAISO.

Let's load that in as a dataframe and take a look at it.

The simplest command is `pd.read_csv`

In [84]:
caiso_data = pd.read_csv('CAISO_2017to2018.csv')

Now we can look at the top of the dataframe using the .head method.  

Note that you need to put parentheses on the end of the call, otherwise python returns the head "object" in a rather ugly form.

In [85]:
caiso_data.head()

,Unnamed: 0,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
0,2017-08-29 00:00:00,1181,340,156,324,1551,0,0
1,2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2,2017-08-29 02:00:00,1183,337,156,337,1325,0,0
3,2017-08-29 03:00:00,1185,339,156,313,1158,0,0
4,2017-08-29 04:00:00,1190,344,156,320,1209,0,0

Pandas loaded the date and time in as a column and put its own row numbers on the data frame.  

As an alternative we can actually make the row labels *equal* to whatever column of data we'd like.  We'll come back to the notion of the index a little later, but for now let's just reload with the date-time as the index:

In [86]:
caiso_data = pd.read_csv('CAISO_2017to2018.csv', index_col=0)
caiso_data.head()

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2017-08-29 00:00:00,1181,340,156,324,1551,0,0
2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2017-08-29 02:00:00,1183,337,156,337,1325,0,0
2017-08-29 03:00:00,1185,339,156,313,1158,0,0
2017-08-29 04:00:00,1190,344,156,320,1209,0,0

Ok, that looks a little better for now.  

As you can see, all the data are the same type of numeric value -- MWh.  

In these cases, sometimes it's natural to "stack" the data.  

We could do the stacking with a pandas command, `.stack`, but it requires a little more massaging than I want to get into right now.  So I've saved a stacked version of the data as a csv:

In [100]:
caiso_data_stack = pd.read_csv('CAISO_2017to2018_stack.csv', index_col=0)
caiso_data_stack.head()

                          Source   MWh
2017-08-29 00:00:00   GEOTHERMAL  1181
2017-08-29 00:00:00      BIOMASS   340
2017-08-29 00:00:00       BIOGAS   156
2017-08-29 00:00:00  SMALL HYDRO   324
2017-08-29 00:00:00   WIND TOTAL  1551

You can see now that the category of generation has become a variable rather than a column name.   

There are lots of ways to stack data, as you might guess.

Let's work with a few things to explore the data frame.

We've already learned about `.head` but we can use it slightly differently:

In [104]:
caiso_data.head(2) # the number in the parens tells pandas how many rows

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2017-08-29 00:00:00,1181,340,156,324,1551,0,0
2017-08-29 01:00:00,1182,338,156,326,1556,0,0

We can also look at the tail!

In [105]:
caiso_data.tail()

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2018-08-28 19:00:00,962,332,236,581,3300,70,24
2018-08-28 20:00:00,967,336,234,547,3468,0,17
2018-08-28 21:00:00,972,336,233,502,3310,0,17
2018-08-28 22:00:00,975,333,234,361,3068,0,0
2018-08-28 23:00:00,977,333,235,262,2921,0,0

What's the shape of the frame?

In [108]:
print('Unstacked shape is ',caiso_data.shape)
print('Stacked shape is ',caiso_data_stack.shape)

Unstacked shape is  (8760, 7)
Stacked shape is  (61320, 2)

The `.shape` method returns a tuple -- number of rows and number of columns.

What about the total number of entries?  Use the `.size` method:

In [109]:
print('Unstacked size is ',caiso_data.size)
print('Stacked size is ',caiso_data_stack.size)

Unstacked size is  61320
Stacked size is  122640

Both shape and size commands return information about how much data is in the frame.  What's the difference?

We can also look at "summary statistics" of the numeric values of the frame:

In [110]:
caiso_data.describe()

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,949.228881,329.203311,224.342808,394.902626,1806.004338,2988.774658,133.840753
std,108.304664,43.243815,24.228372,112.120046,1284.668963,3628.189420,200.374857
min,468.000000,164.000000,133.000000,148.000000,0.000000,0.000000,0.000000
25%,923.000000,301.000000,219.000000,308.000000,598.000000,0.000000,0.000000
50%,956.000000,331.000000,234.000000,379.000000,1615.000000,175.500000,0.000000
75%,986.000000,363.000000,240.000000,476.250000,2900.250000,6700.250000,261.000000
max,1230.000000,482.000000,253.000000,681.000000,5006.000000,10102.000000,679.000000

### Indexing and slicing in Pandas

To motivate our interest going forward, let's ask a basic question about the data set, for example:

### Motivating question: What hour had the lowest average wind generation in the last year?

First let's figure out how to slice these data frames.

`.iloc` allows us to index and slice on **i**nteger row and column positions:

In [130]:
caiso_data.iloc[1,1]

338